<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Edit Comment For <%= campground.name %></h1>
        </div>
        <div class="col-md-6 col-lg-4 col-10 col-sm-8">
            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input type="text" value="<%= comment.text %>" class="form-control" name="comment[text]">
                </div>  
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>